<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sales Deshboard</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="./static/css/custom.css">
     <link rel="stylesheet" href="./static/bower_components/bootstrap/dist/css/bootstrap.css">
     <link rel="stylesheet" href="./static/bower_components/keen-dashboards/dist/keen-dashboards.css">
     <link rel="stylesheet" href="./static/bower_components/dcjs/dc.css">
</head>

  <body id="application">
     <!-- Start Nav -->
    <div class="navbar navbar-inverse navbar" role="navigation">
        <div class="container-fluid" id="main_nav" >
            <div class="container" >
            <div class="navbar-header" >
                <a class="navbar-brand" href="./" id="nav_design"><b>Sales </b> Dashboard</a>
            </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><p id="nav_para">Select Any Product to see all details char for the product.</p></li>

                    <!-- Start Select Brand  -->
                    <li>

                        <div class="chart-wrapper" id="brand">
                               <div class="pos_select">
                                   <div class="chart-title" >
                                      Select Brand
                                   </div>
                                    <div class="chart-stage" id="chartStage">
                                         <div id="select_brand"></div>
                                    </div>
                               </div>
                           </div>
                    </li>
                    <!-- End Select Brand  -->
                    <!-- Start Select Category  -->
                    <li>
                        <div class="chart-wrapper" id="category">
                               <div class="pos_select">
                                   <div class="chart-title">
                                      Select Category
                                   </div>
                                    <div class="chart-stage">
                                         <div id="select_category"></div>
                                    </div>
                               </div>
                           </div>
                    </li>
                    <!-- End Select Category  -->
                </ul>

            </div>
        </div>
    </div>  <!-- End Nav   -->


         {% block content %}
        {% endblock %}


        <script type='text/javascript' src="./static/bower_components/d3/d3.js"></script>
        <script type='text/javascript' src="http://d3js.org/queue.v1.min.js" ></script>
       <script type='text/javascript' src="./static/bower_components/crossfilter/crossfilter.js"></script>
       <script type='text/javascript' src="./static/bower_components/dcjs/dc.js"></script>
        <script type='text/javascript' src="./static/bower_components/keen-js/dist/keen.js"></script>
      <script type='text/javascript' src="./static/js/graph.js"></script>




 </body>
</html>