{% extends "index.html" %}
{% block content %}
     <div class="container">
        <div class="row">
             <div class="col-sm-12" id="price_show" >
                <div class="chart-wrapper">
                     <div class="chart-title">
                        Sales Revenue
                      </div>
                       <div class="chart-stage">
                           <div id="price-chart"></div>
                       </div>
                </div>
             </div>
                 <div  class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Pie Chart
                        </div>
                        <div class="chart-stage">
                            <div id="category-chart"></div>
                        </div>
                    </div>
                </div>

                <div  class="col-sm-6">
                    <div class="chart-wrapper">
                        <div class="chart-title">
                            Bar Chart
                        </div>
                        <div class="chart-stage">
                            <div id="brand-chart" ></div>
                        </div>
                    </div>
                </div>


        </div>
    </div>

{% endblock %}

